
  <div id="slider" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      {% for block in section.blocks %}
        <li data-target="#slider" data-slide-to="{{loop.index0 }}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
      {% endfor %}
    </ul>

    <div class="carousel-inner">
      {% for block in section.blocks %}
        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
          <img class="d-block w-100" src="{{block.imgUrl}}" alt="First slide">
        </div>
      {% endfor %}
    </div>
    <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>
