<div class="container">
	<div class="row text-center">
		<div class="col-md-4">
			<ul class="list-unstyled">
				{% for link in nav.links %}
				<li class="">
					<a class="" href="{{link.url}}">{{link.text}}</a>
		    	</li>
				{% endfor%}
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="list-unstyled">
				{% for link in nav.links %}
				<li class="">
					<a class="" href="{{link.url}}">{{link.text}}</a>
		    	</li>
				{% endfor%}
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="list-unstyled">
				{% for link in nav.links %}
				<li class="">
					<a class="" href="{{link.url}}">{{link.text}}</a>
		    	</li>
				{% endfor%}
			</ul>
		</div>
	</div>
</div>