<div class="infobar text-center">
	<p>Some promo text</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="{{info.logo}}">
		</div>
		<div class="col-md-8 text-right social m-auto">
			<a href="http://www.facebook.com/{{info.social.facebook}}"><i class="fa fa-facebook fa-2x"></i></a>
			<a href="https://www.twitter.com/{{info.social.twitter}}"><i class="fa fa-twitter fa-2x"></i></a>
			<a href="https://www.instagram/{{info.social.instagram}}"><i class="fa fa-instagram fa-2x"></i></a>
		</div>
	</div>
	
</div>